body{
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: #00a04b; */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
    min-height: 750x;
    flex: 1;
}
#starCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Behind everything */
  width: 100%;
  height: 100%;
}

header{
    background: transparent;
    color: #ffffff;
    font-size: 5rem;
    padding: .5rem;
    display:grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header-image{
    width: 150px;
    height: auto;
    display: block;
}

.left-img {
    width:300px
}

.right-img{
    width:300px
}

header h1{
    text-align: center;
    margin: 0;
}

main{
    padding: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

footer {
    background: transparent;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%
}
